/* 自定义时间轴生肖图标 */
svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
     width: 1em; height: 1em;
     /* width和height定义图标的默认宽度和高度*/
     vertical-align: -0.15em;
     fill: currentColor;
     overflow: hidden;
  }

/* 评论框  */

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}


/* 提交按钮 */

#vcomment button {
    padding: 0.3rem 0.8rem;
    border-color: #fff;
    background-color: #e58a8a;
    color: #fff;
    font-size: 0.7rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}


/* 评论区代码块 */

.v[data-class=v] code {
    color: #c7254e;
    background-color: #F9F2F4;
}
/* 设置评论框 */

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* 取消回复聊天框 */

.vquote .vcard {
    box-shadow: 2px 2px 5px transparent;
    background: rgba(255, 255, 255, 0.0);
    padding: 0px;
}

/* 自定义字体 */
@font-face {
    font-family: 'Cascadia Code';
    src: url('https://cdn.jsdelivr.net/gh/useblue/ucdn/fonts/CascadiaCode.woff2');
}